DATA_DIR=/opt/stacks/browser-lab
NEKO_DESKTOP_SCREEN=1920x1080@30
NEKO_MEMBER_MULTIUSER_USER_PASSWORD=<set-in-portainer>
NEKO_MEMBER_MULTIUSER_ADMIN_PASSWORD=<set-in-portainer>
NEKO_SERVER_BIND=<services-tailscale-ip>:8081
NEKO_WEBRTC_EPR=52000-52100
NEKO_WEBRTC_NAT1TO1=<services-tailscale-ip>
CDP_PORT=9223
CDP_BIND_ADDRESS=<services-tailscale-ip>
