# Docker Apps Gitignore

# Pi-hole
pihole/etc-pihole/
pihole/etc-dnsmasq.d/

# Nginx Proxy Manager
nginxproxymanager/data/
nginxproxymanager/letsencrypt/

# Homarr
homarr/homarr

# UpSnap
upsnap/data/

# Jellyfin
jellyfin/config/
jellyfin/cache/

# Immich
immich/postgres

# Immich
backrest/backrest

# qBittorrent
qbittorrent/qbittorent/
qbittorrent/config/

# General
.env
*.log
