# Common
PUID=1000
PGID=1000
TZ=America/New_York

# qBittorrent
DOWNLOAD_PATH=/mnt/completed

# Jellyfin
MEDIA_LIBRARY=/mnt/hardrive/media
BACKUP_MEDIA=/mnt/hardrive/media2
CUSTOM_FONTS=/usr/share/fonts/truetype
PUBLISHED_URL=https://jellyfin.example.com
