# Location for data 
DATA_LOCATION=

# Host directory to mount into Nextcloud containers
NEXTCLOUD_MOUNT=/mnt

# Location for BorgBackup backups
BACKUP_LOCATION=/mnt/backup/nextcloud

# IP Address for hosting nextcloud
APACHE_IP_BINDING=
