version: "3.8"
services:
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - WATCHTOWER_INTERVAL=3600
      - WATCHTOWER_CLEANUP=true
